dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a98941a8-a228-42d2-ac75-3316b5c6d53a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="ad7860c8-bf69-40e4-b235-622e864e6f92" >
		<http:listener doc:name="Listener" doc:id="3718a62c-02c2-46cf-a577-aadccfee1e32" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["hello dummy"]' doc:name="Set Payload" doc:id="9c53293b-a87a-44f2-a355-fa169c6a2e83" />
		<logger level="INFO" doc:name="Logger" doc:id="6ed9f9fe-6856-4c33-aaf9-d74642540bb5" message="#[payload]"/>
	</flow>
</mule>
